body {
  background: rgba(17, 34, 51, 0.2);
  margin: 0;
  padding: 0;
  font-family: "Mozilla Headline", sans-serif;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background: #00d4ff;
  background: linear-gradient(135deg, #8c7cf5, #000e0a);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card .search {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search #search {
  padding: 1rem 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
}
.card .result {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
}

.card .params {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
}
.humidity {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wind {
  display: flex;
  align-items: center;
  flex-direction: column;
}
